.cell {
  align-items: center;
  aspect-ratio: 1;
  box-sizing: border-box;
  display: flex;
  flex: 10em;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1em;
  transition: all 0.2s;
}

.cell:hover {
  box-shadow:
    1em 1em 2em var(--shadow-shade),
    -1em -1em 2em var(--shadow-highlight);
  transform: scale(1.1);
}

.number {
  align-self: start;
  color: var(--foreground-muted);
  font-size: 0.8em;
}

.sprite {
  height: 96px;
  width: 96px;
}
